@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	font-family: 'Montserrat', sans-serif;
}

.prose {
	h1 {
		font-size: 32px;
		margin-bottom: 0.5em;
		@apply text-blue-primary font-bold;
	}
	h2 {
		font-size: 28px;
		margin-bottom: 0.5em;
		@apply text-blue-primary font-bold;
	}
	h3 {
		font-size: 24px;
		margin-top: 1em;
		margin-bottom: 0.5em;
		@apply font-medium;
	}
	p {
		margin-bottom: 1em;
	}
	a {
		@apply text-blue-primary underline;
	}
	ul {
		margin-top: 1.15em;
		margin-bottom: 1.5em;
		padding-left: 1.5em;
	}
	li {
		list-style: initial;
		margin-bottom: 0.2em;
	}
}
